@import "courses/style";

.course-page-header {
  padding: 60px 0;
  background: #092633;
  .course-image {
    img {
      height: 270px;
      object-fit: cover;
    }
  }

  .course-header-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h5 {
      color: #ffcc02;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    h1 {
      color: #fff;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .course-price {
      margin-bottom: 20px;
      strong {
        font-size: 20px;
        color: #e51b1b;
      }
      span {
        font-size: 14px;
        color: rgba($color: #fff, $alpha: 0.4);
        margin: 0 10px;
        text-decoration: line-through;
      }
    }
    .add-to-favourite {
      display: flex;
      align-items: center;
      span {
        display: block;
        color: #1be5b7;
      }

      .add-to-favourite-btn {
        margin: 0 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        svg {
          width: 30px;
        }
        &.is_wishlist {
          background: #fff;
          color: red;
          svg {
            fill: red;
          }
        }
        &.not_is_wishlist {
          background: #2b5f76;
          color: #fff;
        }
      }
    }
  }
  .course-header-details-box {
    margin-bottom: 12px;
    h5 {
      color: #2b5f76;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 5px;
    }
    p {
      display: flex;
      align-items: center;
      svg {
        color: #1be5b7;
        width: 16px;
      }
      span {
        margin: 0 10px;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}
.course-page-watch-header {
  background: #092633;
  padding-top: 30px;
  padding-bottom: 30px;
  .course-accordion {
  }
}

.course-page-content {
  padding-top: 50px;
}

.course-page-body {
  h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #041822;
  }
}

.course-page-body-details {
  margin-bottom: 30px;

  p {
    font-size: 16px;
    color: #555;
    line-height: 2;
  }
}
.course-accordion {
  .p-accordion-header {
    a {
      display: flex;
      justify-content: space-between;
      border: none !important;
      .lectures-count {
        margin-left: auto;
        font-size: 14px;
        color: #143c4e;
        font-weight: normal;
      }
      h4 {
        font-size: 18px;
        font-weight: 600;
        color: #041822;
      }
    }
  }

  .p-accordion-content {
    ul {
      li {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:not(:last-child){
          border-bottom: 2px solid #f1f1f1;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }

        .icon {
          margin-right: 13px;
          display: flex;
          svg {
            fill: #2b5f76;
            stroke: #2b5f76;
          }
        }
        h5 {
          margin-right: auto;
          color: #041822;
          font-size: 14px;
        }
        .play {
          display: flex;
          span {
            font-size: 14px;
            color: #041822;
            margin-right: 5px;
          }
          svg {
            fill: #1be5b7;
            stroke: #1be5b7;
            width: 21.3px;
            height: 24.4px;
          }
        }
        &.active {
          h5 {
            color: #1be5b7;
            font-weight: bold;
          }
          .icon {
            margin-right: 13px;
            display: flex;
            svg {
              fill: #1be5b7;
              stroke: #1be5b7;
            }
          }
        }
      }
    }
  }
}

.course-page-sidebar-widget {
  margin-bottom: 40px;
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.theme-widget-1 {
  .course-page-sidebar-widget-body {
    padding: 50px 0;
    border-radius: 20px;
    border: solid 1px #ebebeb;
    text-align: center;
    .image {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      img {
        width: 150px;
        height: 150px;
        margin: 0 0 10px;
        border: solid 1px #ebebeb;
        border-radius: 50%;
      }
    }
    h5 {
      font-size: 20px;
      color: #041822;
      margin-bottom: 5px;
    }
    span {
      font-size: 16px;
      display: block;
    }
    a {
      margin-top: 30px;
    }
  }
}

.theme-widget-2 {
  .course-page-sidebar-widget-body {
    padding: 20px 20px 50px;
    border-radius: 20px;
    border: solid 1px #ebebeb;
  }
  ul {
    li {
      a {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        span {
          margin: 0 10px;
          text-decoration: underline;
        }
      }
    }
  }
}
.theme-widget-3 {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    li {
      width: calc(100% / 3);
      padding: 0 10px;
      img {
        border: 1px solid #707070;
        height: 80px;
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
      }
    }
  }
}

.theme-widget-4 {
  ul {
    li {
      a {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        svg {
          fill: #1be5b7;
        }
        span {
          margin: 0 10px;
        }
      }
    }
  }
}
.page-header {
  background: #143c4e;
  padding: 20px 0 30px;
  h1 {
    font-size: 50px;
    @apply mdDown:text-3xl;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
  }
  .breadcrumb {
    margin: 0;
    li,
    a {
      color: #8a9ea7;
    }
  }
}
.courses-page {
  padding-top: 40px;
  padding-bottom: 40px;
}
.page-filters-widget-theme-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.page-filters-widget {
  margin-bottom: 50px;
}

.page-filters-widget {
}

.page-filters-widget h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.page-filters-widget-theme-1 .btn-checkbox {
  margin: 5px;
}

.page-filters-widget-theme-1 .btn-checkbox .btn {
  border: none;
  background: #f8f8f8;
  display: flex;
  svg {
    margin: 0 2px;
    height: 20px;
    width: 20px;
  }
  span {
    margin: 0 2px;
  }
}

.page-filters-widget-theme-1 .btn-checkbox .btn-check:checked ~ .btn {
  background: #1be5b7;
  color: #fff;
}

.page-filters-widget-theme-2 {
  h5 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.search-by-name {
  position: relative;
  width: 100%;
  button {
    position: absolute;
    right: 0;
    top: 6px;
  }
  input {
    height: 50px;
  }
}
