@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mixins";
@import 'variables';
@import 'buttons';
@import 'font_type';
@import "other";

:root{
  --primary-color: #1BE5B7;
}
:focus {
  outline: 0 !important;
}
.container-content {
  @apply xxlUp:max-w-[1500px] w-full smUp:w-[87%] pl-[15px] pr-[15px] smUp:pl-0 smUp:pr-0 relative ml-auto mr-auto
}

.p-menubar {
  @apply pl-0 pr-0 #{!important}
}

.main-header-menu {
  .p-menubar {
    .p-menubar-root-list {
      @apply ltr:3mdUp:ml-16 rtl:3mdUp:mr-16;
      li {
        a {
          text-transform: uppercase;
          transition: all ease-out 0.3s;
          font-weight: 500;

          &.active-link {
            color: $title-color;
          }
        }

        &:not(:last-child) {
          @media screen and (min-width: 960px) {
            margin-inline-end: 20px;
          }
        }
      }
    }

    .logo {
      img {
        max-height: 45px;
        width: auto;
      }
    }
  }
}

.category-menu {
  @apply bg-gray-900;
  .p-menubar {
    ul {
      li {
        a {
          @apply capitalize py-3 block text-green-100 text-sm;
          transition: all ease-out 0.3s;
          font-weight: 500;
        }

        &:not(:last-child) {
          @media screen and (min-width: 960px) {
            margin-inline-end: 20px;
          }
        }
      }
    }
  }
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0.5rem;
}

.p-menubar-button {
  margin-inline-start: 10px;
}

.p-inputtext {
  padding: 0.65rem;
}

.p-inputtext:enabled:focus {
  box-shadow: none;
  border-color: $second-color;
}

.p-overlaypanel {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

//RTL
html[dir=rtl] {
  .p-menubar .p-menubar-custom, .p-menubar .p-menubar-end {
    margin-right: auto;
    margin-left: 0;
  }

  .p-input-icon-left > .p-inputtext {
    padding-left: 0.65rem;
    padding-right: 2.5rem;
  }

  .p-input-icon-left > i:first-of-type {
    right: 0.75rem;
    left: auto;
  }

  .p-menu .p-menuitem-link .p-menuitem-icon {
    margin-right: 0;
    margin-left: 0.5rem;
  }
}

.cart-drop-lst {
  li {
    p {
      @include oneline1(2);
    }

    @apply pb-3 mb-3 border-b border-gray-800
  }
}

.main-link {
  @apply text-green-100 hover:text-green-500 duration-300 ease-in-out transition-all;
}
.section-padding{
  @apply py-20 mdDown:py-10 lgDown:py-16
}
.auth-card {
  @apply border border-gray-800 p-5 lgUp:p-8 xlUp:p-10 rounded-2xl
}
.form-style{
  .field{
    @apply mb-5;
    label{
      @apply pb-1 text-green-300;
    }
    i{
      @apply text-green-500;
    }
    input{
      @apply rounded-xl h-[50px] bg-gray-900 focus:bg-white-100;
    }
  }
}
.fv-plugins-message-container{
  .p-error{
    @apply text-sm
  }
}
.field-checkbox{
  .p-checkbox{
    margin-inline-end: 0.4rem;
  }
}
//Start swiper config
.swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.59' height='12.35' viewBox='0 0 7.59 12.35'%3E%3Cpath id='Path_24' data-name='Path 24' d='M1681.443,2055.308l4.761,4.761-4.761,4.761' transform='translate(-1680.029 -2053.894)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.59' height='12.35' viewBox='0 0 7.59 12.35'%3E%3Cpath id='Path_24' data-name='Path 24' d='M1686.2,2055.308l-4.761,4.761,4.761,4.761' transform='translate(-1680.029 -2053.894)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  @apply h-[40px] w-[40px] mdDown:w-[35px] mdDown:h-[35px] smDown:hidden #{!important};
  border: 2px solid white;
  border-radius: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-size: 20% auto;
  background-position: center;
  transition: all ease-in-out 0.3s;
  &:hover{
    @apply bg-green-100 border-green-100;
  }

}
html[dir='rtl']{
  .swiper-button-next,
  .swiper-button-prev{
    transform: scale(-1);
  }
}

.swiper-button-next {
  @apply ltr:right-[2.5%] rtl:left-[2.5%] smDown:ltr:right-[10px] smDown:rtl:left-[10px]
}

.swiper-button-prev {
  @apply ltr:left-[2.5%] rtl:right-[2.5%] smDown:ltr:left-[10px] smDown:rtl:right-[10px]
}

//End swiper config
