.course-achievement {
  margin-bottom: 55px;
  .achievement-list {
    display: flex;
    justify-content: space-between;
    .achievement-box {
      width: calc(100% / 3 - 12px);
      padding: 25px 15px 19px 15px;
      border-radius: 3px;
      text-align: center;
      background-color: #f7f8f7;
      .icon {
        color: var(--main-color);
        margin-bottom: 30px;
        svg {
          width: 22px;
        }
      }
      h5 {
        font-size: 15px;
        font-weight: 800;
        color: var(--main-color);
        margin-bottom: 4px;
        line-height: 1;
      }
      span {
        color: #b6b7b8;
        font-size: 12px;
      }
    }
  }
}
