.course-sections-view {
  .title-time {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .time {
      padding: 10px;
      border-radius: 3px;
      border: solid 1px #f6f6f6;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--main-color);
      svg {
        margin: 0 3px;
        width: 13px;
        height: 13px;
      }
      span {
        margin: 0 3px;
        font-size: 9px;
        font-weight: bold;
      }
    }
  }
}

.course-sections-view-items {
  .course-sections-view-item {
    .course-sections-view-item-top {
      padding: 10px 14px 10px 18px;
      border-radius: 3px;
      background-color: #f7f8f7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .number {
        width: 41px;
        height: 41px;
        border-radius: 3px;
        background-color: var(--second-color);
        color: #fff;
        font-weight: bold;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
      .text {
        h6 {
          font-size: 13px;
          font-weight: bold;
          color: var(--main-color);
          line-height: 1;
          margin-bottom: 5px;
        }
        span {
          font-size: 12px;
          color: #c5c5c5;
        }
      }
      .side-buy {
        margin-left: auto;
        width: 70px;
        text-align: center;
        .price {
          width: 100%;
          height: 37px;
          padding: 7px 5px;
          border-radius: 3px;
          background-color: rgba(242, 89, 41, 0.12);
          font-size: 13px;
          color: #f25929;
          font-weight: 800;
        }
        .cart-view {
          width: 100%;

          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          button,
          a {
            height: 30px;
            width: 30px;
            background: var(--main-color);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            border-radius: 5px;
            margin-right: 3px;
            flex: 1;
            &:nth-last-child(1) {
              margin: 0;
            }
            svg {
              width: 18px;
              height: 18px;
            }
          }
          &.ordred {
            button {
              width: 100%;
            }
          }
        }
      }
      .section-more {
        button {
          padding: 0;
          color: #aaa;
          transition: all 0.5s;
          &[aria-expanded='true'] {
            transform: rotate(90deg);
          }
        }
      }
    }
    .course-sections-view-item-body {
      ul {
        padding: 0;
        list-style: none;
        li {
          padding: 10px;
          border-bottom: 1px solid #eee;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .icon {
            // color: #d9d9d9;
            color: #fff;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(44 57 127 / 57%);
            border-radius: 50%;
            padding: 6px;
            padding-bottom: 7px;

            svg {
              width: 17px;
              height: 17px;
            }
            &.icon-fill {
              svg {
                fill: #d9d9d9;
              }
            }
          }
          .title {
            margin-right: auto;
            margin-left: 12px;
            color: #494949;
            font-size: 12px;
          }
          .time {
            font-size: 12px;
            color: #d9d9d9;
          }
        }
      }
    }
  }
}
.course-sections-items {
  .course-sections-item {
    .course-sections-item-top {
      padding: 10px 14px 10px 18px;
      border-radius: 3px;
      background-color: #f7f8f7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .number {
        width: 41px;
        height: 41px;
        border-radius: 3px;
        background-color: var(--second-color);
        color: #fff;
        font-weight: bold;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
      .text {
        margin-right: auto;
        h6 {
          font-size: 13px;
          font-weight: bold;
          color: var(--main-color);
          line-height: 1;
          margin-bottom: 5px;
        }
        span {
          font-size: 12px;
          color: #c5c5c5;
        }
      }
      .section-more {
        button {
          padding: 0;
          color: #aaa;
          transition: all 0.5s;
          &[aria-expanded='true'] {
            transform: rotate(90deg);
          }
        }
      }
    }
    .course-sections-item-body {
      ul {
        padding: 0;
        list-style: none;
        li {
          padding: 10px;
          border-bottom: 1px solid #eee;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          .icon {
            color: #d9d9d9;
            color: #fff;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(44 57 127 / 57%);
            border-radius: 50%;
            padding: 6px;
            padding-bottom: 7px;

            svg {
              width: 17px;
              height: 17px;
            }
            &.icon-fill {
              svg {
                fill: #d9d9d9;
              }
            }
          }
          .title {
            margin-right: auto;
            margin-left: 12px;
            color: #494949;
            font-size: 12px;
          }
          .time {
            font-size: 12px;
            color: #d9d9d9;
          }
        }
      }
    }
  }
}
