.course-subscribe {
  border-radius: 3px;
  background-color: #f7f8f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  margin-bottom: 16px;
  .image {
    width: 41px;
    height: 41px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    img {
      width: 30px;
      justify-content: 30px;
    }
  }
  .text {
    margin: 0 10px;
    margin-right: auto;

    h3 {
      color: #2c363c;
      font-size: 13px;
      font-weight: 800;
      margin-bottom: 3px;
      line-height: 1;
    }
    span {
      font-size: 12px;
      color: #c5c5c5;
    }
  }
  .subscribe-btn {
    button,
    a {
      background-color: var(--second-color);
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      border-radius: 3px;
    }
  }
}
