.feature-card {
  background-color: #fff;
  padding: 25px;
  .icon {
    border-radius: 3.2px;
    background-color: #2c397f;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    img {
    }
  }
  h3 {
    color: #2c397f;
    font-size: 18px;
    font-weight: bold;
  }
  p {
    color: #999;
    font-size: 15px;
    height: 30px;
  }
}
